---

- name: Install Dependences PostgreSQL
  become: true
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ _postgresql_dependences | default([]) }}"
  when:
    - _postgresql_dependences is defined
  tags:
    - postgresql
    - db
    - deps

- name: Install packages via pip
  become: true
  pip: name="{{ item }}"
  when: _postgresql_pip_packages is defined
  with_items: "{{ _postgresql_pip_packages | default([]) }}"
  tags:
    - backup
